
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="first">
                                <img class="img-fluid" src="/Content/kariyermasasi/pp.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
                        <div class="product-detail-content">
                            <div class="new-arrival-content pr">
                                <h4>360MEKA TOPLANTI SİSTEMLERİ</h4>
                                <div class="comment-review star-rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="review-text">Bir sorun mu var ? /</span><a class="product-review" href="#" data-toggle="modal" data-target="#reviewModal">Bize ulaşın</a>
                                </div>
                                <br /><br />
                                <div class="d-table mb-2">
                                    <p class="price float-left d-block">info@360meka.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reviewModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">360MEKA DESTEK HATTI</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="basic-form">
                                        <label>Bölüm1</label>

                                        <div class="input-group mb-3 input-warning-o">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">test1</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                        <div class="input-group mb-3 input-success-o">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">test2</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                        <div class="input-group mb-3 input-primary">
                                            <input type="text" class="form-control" placeholder="Recipient's username">
                                            <div class="input-group-append">
                                                <span class="input-group-text">test3@example.com</span>
                                            </div>
                                        </div>

                                        <label>Bölüm2</label>
                                        <div class="input-group mb-3  input-success">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">https://example.com</span>
                                            </div>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="input-group mb-3  input-info">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>

                                        <div class="input-group   input-danger">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">With textarea</span>
                                            </div>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>