
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="first">
                                <img class="img-fluid" src="/Content/kariyermasasi/pp.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
                        <div class="product-detail-content">
                            <div class="new-arrival-content pr">
                                <h4>Toplantılar</h4>
                                <br /><br />
                                <div class="d-table mb-2">
                                    <p class="price float-left d-block"><a href="mailto:info@360meka.com">info@360meka.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>