
@{
    ViewBag.Title = "Ozgecmis";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section Scripts{
    <script src="~/Content/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/Content/vendor/yearpicker/yearpicker.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.datepicker/0.1/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/pages/UserUI/ozgecmis.js"></script>
}

@section Heads{
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/vendor/yearpicker/yearpicker.css" />

}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Özgeçmiş</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Kişisel Bilgiler</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Doğum Tarihiniz</label>
                                    <input name="birth_date" type="text" id="birth_date" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Medeni Durumunuz</label>
                                    <select name="MarriageStatus" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Askerlik Durumunuz</label>
                                    <select name="MilitaryStatus" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Unvanınız</label>
                                    <input type="text" name="Title" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Uzmanlik Alanınız</label>
                                    <input type="text" name="" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Eğitim Geçmişi</h1>
                    </div>
                    <div class="card-body">
                        <div id="schools">
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="mb-1">Başlangıç Yılı</p>
                                    <input class="form-control pick-year" type="text"
                                           name="" readonly>
                                </div>
                                <div class="col-md-2">
                                    <p class="mb-1">Bitiş Yılı</p>
                                    <input class="form-control pick-year" type="text"
                                           name="" readonly>
                                </div>
                                <div class="col-md-2">
                                    <p class="mb-1">Seviye</p>
                                    <select class="form-control" name="educational_history_levels[]">
                                        <option value="Lise">Lise</option>
                                        <option value="Önlisans">Önlisans</option>
                                        <option value="Lisans">Lisans</option>
                                        <option value="Yüksek Lisans">Yüksek Lisans</option>
                                        <option value="Doktora">Doktora</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <p class="mb-1">Okul</p>
                                    <input class="form-control" type="text"
                                           name="">
                                </div>
                                <div class="col-md-3">
                                    <p class="mb-1">Bölüm</p>
                                    <input class="form-control" type="text" name="">
                                </div>
                            </div>
                        </div>
                        <a href="javascript:addEducation()" class="mt-2">Bir tane daha ekle</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Yabanci Dil</h4>
                    </div>
                    <div class="card-body">
                        <div id="languages">
                            <div class="row">
                                <div class="col-12">
                                    <p class="mb-1">Dil</p>
                                    <input class="form-control" type="text" name="foreign_languages[]">
                                </div>
                                <div class="col-12">
                                    <p class="mb-1">Seviye</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Okuma:
                                            <select class="form-control"
                                                    name="foreign_languages_reading_levels[]">
                                                <option value="Düşük">Düşük</option>
                                                <option value="Orta">Orta</option>
                                                <option value="İyi">İyi</option>
                                                <option value="Anadil">Anadil</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            Yazma:
                                            <select class="form-control"
                                                    name="foreign_languages_writing_levels[]">
                                                <option value="Düşük">Düşük</option>
                                                <option value="Orta">Orta</option>
                                                <option value="İyi">İyi</option>
                                                <option value="Anadil">Anadil</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            Konuşma:
                                            <select class="form-control"
                                                    name="foreign_languages_speaking_levels[]">
                                                <option value="Düşük">Düşük</option>
                                                <option value="Orta">Orta</option>
                                                <option value="İyi">İyi</option>
                                                <option value="Anadil">Anadil</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <a href="javascript:addLanguage()">Bir tane daha ekle</a>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">İş Tecrübesi</h4>
                    </div>
                    <div class="card-body">
                        <div id="experiences">
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="mb-1">Başlangıç Yılı</p>
                                    <input class="form-control pick-year" type="text" readonly
                                           name="work_experience_start_years[]">
                                </div>
                                <div class="col-md-2">
                                    <p class="mb-1">Bitiş Yılı</p>
                                    <input class="form-control pick-year" type="text" readonly
                                           name="work_experience_end_years[]">
                                </div>
                                <div class="col-md-4">
                                    <p class="mb-1">Şirket</p>
                                    <input class="form-control" type="text"
                                           name="work_experience_companies[]">
                                </div>
                                <div class="col-md-4">
                                    <p class="mb-1">Alan</p>
                                    <input class="form-control" type="text"
                                           name="work_experience_areas[]">
                                </div>
                                <div class="col-12">
                                    <p class="mb-1">Açıklama</p>
                                    <input class="form-control" type="text"
                                           name="work_experience_descriptions[]">
                                </div>
                            </div>
                        </div>
                        <a href="javascript:addExperience()">Bir tane daha ekle</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">E-Seminer ve Kurslar</h4>
                    </div>
                    <div class="card-body">
                        <div id="courses">
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="mb-1">Başlangıç Yılı</p>
                                    <input class="form-control pick-year" type="text" readonly
                                           name="seminar_and_courses_start_years[]">
                                </div>
                                <div class="col-md-2">
                                    <p class="mb-1">Bitiş Yılı</p>
                                    <input class="form-control pick-year" type="text" readonly
                                           name="seminar_and_courses_end_years[]">
                                </div>
                                <div class="col-md-4">
                                    <p class="mb-1">Kurum Adı</p>
                                    <input class="form-control" type="text" name="seminar_and_courses_institutions[]">
                                </div>
                                <div class="col-md-4">
                                    <p class="mb-1">Seminer/Kurs Adı</p>
                                    <input class="form-control" type="text"
                                           name="seminar_and_courses[]">
                                </div>
                            </div>
                        </div>
                        <a href="javascript:addCourse()">Bir tane daha ekle</a>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bilgisayar Bilgisi</h4>
                    </div>
                    <div class="card-body">
                        <div id="knowledges">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mb-1">Seviye</p>
                                    <input class="form-control" type="text"
                                           name="computer_knowledge_levels[]">
                                </div>
                                <div class="col-9">
                                    <p class="mb-1">Program, İşletim Sistemi, Dil, Donanım vb.</p>
                                    <input class="form-control" type="text" name="computer_knowledge[]">
                                </div>
                            </div>
                        </div>
                        <a href="javascript:addKnowledge()">Bir tane daha ekle</a>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Hobiler</h4>
                    </div>
                    <div class="card-body">
                        <textarea class="form-control" name="hobies"></textarea>
                    </div>                
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Referanslar</h4>
                    </div>
                    <div class="card-body">
                        <div id="references">
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="mb-1">Ad Soyad</p>
                                    <input class="form-control" type="text" name="references_names[]">
                                </div>
                                <div class="col-md-2">
                                    <p class="mb-1">Şirket</p>
                                    <input class="form-control" type="text" name="references_companies[]">
                                </div>
                                <div class="col-md-2">
                                    <p class="mb-1">Ünvan</p>
                                    <input class="form-control" type="text" name="references_titles[]">
                                </div>
                                <div class="col-md-3">
                                    <p class="mb-1">E-Posta</p>
                                    <input class="form-control" type="text" name="references_emails[]">
                                </div>
                                <div class="col-md-3">
                                    <p class="mb-1">Telefon</p>
                                    <input class="form-control" type="text" name="references_phones[]">
                                </div>
                            </div>
                        </div>
                        <a href="javascript:addReference()">Bir tane daha ekle</a>
                    </div>
                    
                </div>

            </form>
        </div>

    </div>
</div>


