
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kariyer Masası | 360MEKA Toplantı Sistemi</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <link href="~/Content/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="text-center">
        <div>
            <br />
            <div class="text-center">
                <img class="img-fluid" src="~/Content/kariyermasasi/Logo.png" alt="">
            </div>
            <br /><br />
            <h2 class="mb-0">Kariyer Masası Sistemine Hoşgeldiniz !</h2>
            <br />
        </div>
        <div class="container">
            <div id="sign-up" class="auth-form tab-pane fade show active  form-validation">
                <form class="form-validate" method="post" action="/giris-yap">
                    @if (ViewBag.LoginError != null)
                    {
                        <div class="new-account text-danger mt-3 text-center">
                            <span class="fa fa-warning"></span>
                            <b>@ViewBag.LoginError</b>
                        </div>
                    }
                    <br />
                    <div class="form-group">
                        <label class="mb-1 text-black"><strong>E-Mail</strong></label>
                        <div>
                            <input type="email" name="email" class="form-control" placeholder="admin@360meka.com">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="mb-1 text-black"><strong>Şifre</strong></label>
                        <div>
                            <input type="password" name="password" class="form-control" placeholder="Şifre">
                        </div>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>