<div class="col-md-12" id="disabled" hidden>
    <div class="form-group">
        <select class="form-control" name="disabled">
            <option value="" disabled selected>Özel durum seçiniz</option>
            <option value="Görme Engelli">Görme Engelli</option>
        </select>
    </div>
</div>

<div class="col-md-12" id="business-area">
    <div class="form-group">
        <select class="form-control" multiple id="business-area-select">
            <option value="Yazılım">Yazılım</option>
            <option value="Tekstil">Tekstil</option>
            <option value="Tasarım">Tasarım</option>
            <option value="Donanım">Donanım</option>

        </select>
    </div>
</div>
<div class="col-md-12" id="department">
    <div class="form-group">
        <select class="form-control" multiple id="department-select">
            <option value="Yazılım">Yazılım</option>
            <option value="Bilgi İşlem">Bilgi İşlem</option>
            <option value="Muhasebe">Muhasebe</option>
            <option value="Finans">Finans</option>
        </select>
    </div>
</div>
<div class="col-md-12" id="city">
    <div class="form-group">
        <select class="form-control" multiple id="city-select">
            <option value="İstanbul">İstanbul</option>
            <option value="Ankara">Ankara</option>
            <option value="İzmir">İzmir</option>
            <option value="Bursa">Bursa</option>
        </select>
    </div>
</div>


