
<div class="modal fade" id="educationModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">İş Bilgisi Ekle</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="user-education-form" action="/kullanici-is-ekle" submit-success="succesSubmit">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>SchoolName</label>
                            <input type="text" class="form-control" required name="SchoolName" placeholder="Firma Giriniz...">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>GraduationStatus</label>
                            <input type="text" class="form-control" required name="GraduationStatus" placeholder="Görev Giriniz...">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>GraduationGrade</label>
                            <input type="text" class="form-control" required name="GraduationGrade" placeholder="Görev Giriniz...">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Department</label>
                            <input type="text" class="form-control" required name="Department" placeholder="Görev Giriniz...">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" required name="Description" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>GraduationYear</label>
                            <input type="datetime" class="form-control mdate" required name="GraduationYear" placeholder="İşe Giriş Tarihi Giriniz...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeUser" class="btn btn-danger light" data-dismiss="modal">Kapat</button>
                        <button type="submit" submit-form="#user-education-form" class="btn btn-success light">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>