@model KariyerEntity.Entity.UserReference
@if (Model != null)
{
    <div class="modal fade" id="detailReferenceModal" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Referans Görüntüle</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("UpdateSeminar", "UserReference", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {@Html.HiddenFor(x => x.ID)
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>İsim Soyisim</label>
                            <input type="text" class="form-control" value="@Model.NameSurname" name="NameSurname" placeholder="İsim Soyisim Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Telefon</label>
                            <input type="tel" class="form-control" value="@Model.Phone" name="Phone" placeholder="Telefon Giriniz...">
                        </div>
                        <div class="form-group col-md-12">
                            <label>E-Mail</label>
                            <input type="email" class="form-control" value="@Model.EMail" name="EMail" placeholder="E-Mail Giriniz...">
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeUser" class="btn btn-danger light" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-success light ">Güncelle</button>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
}