@model KariyerEntity.Entity.Company
<div class="modal fade" id="basicModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Şirket Ekle</h5>
                <button type="button" onclick="GetCompanyData()" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body" id="addModal">
                <form id="company-add-form" action="/sirket-ekle">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>İsim</label>
                            <input type="text" class="form-control" name="Name" placeholder="İsim Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Ülke</label>
                            <input type="text" class="form-control" name="Country" placeholder="Ülke Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>E-Mail</label>
                            <input type="email" class="form-control" name="EMail" placeholder="E-Mail Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Telefon</label>
                            <input type="tel" class="form-control" name="Phone" placeholder="Telefon Giriniz...">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Şehir</label>
                            <input type="text" class="form-control" name="City" placeholder="Şehir Giriniz...">
                        </div> <div class="form-group col-md-6">
                            <label>İlçe/Kasaba</label>
                            <input type="text" class="form-control" name="Town" placeholder="İlçe/Kasaba Giriniz...">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Adres</label>
                            <textarea class="form-control" rows="4" name="Address" id="comment" placeholder="Adres Giriniz..."></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Fax</label>
                            <input type="text" class="form-control" name="Fax" placeholder="Fax Numaranızı Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Çalışma Alanı</label>
                            @Html.DropDownList("BusinessAreaID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Vergi NO</label>
                            <input type="text" class="form-control" name="TaxNumber" placeholder="Vergi Numaranızı Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Vergi Adresi</label>
                            <input type="text" class="form-control" name="TaxAddress" placeholder="Vergi Adresinizi Giriniz...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="GetCompanyData()" class="btn btn-danger light" data-dismiss="modal">Kapat</button>
                        <button type="button" submit-form="#company-add-form" class="btn btn-success light">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
