@model KariyerEntity.Entity.Company
<div class="modal fade" id="basicModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Şirket Ekle</h5>
                <button type="button" onclick="GetData()" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body" id="addModal">
                <form id="company-add-form" method="post" role="form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>İsim</label>
                            <input required type="text" class="form-control" name="AddName" placeholder="İsim Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Telefon</label>
                            <input required type="tel" class="form-control" name="AddPhone" placeholder="Telefon Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Fax</label>
                            <input required type="tel" class="form-control" name="AddFax" placeholder="Fax Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>E-Mail</label>
                            <input required type="email" class="form-control" name="AddEMail" placeholder="E-Mail Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Ülke</label>
                            <input required type="text" class="form-control" name="AddCountry" placeholder="Ülke Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Şehir</label>
                            <input required type="text" class="form-control" name="AddCity" placeholder="Şehir Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Vergi Numarası</label>
                            <input required type="number" min="0" class="form-control" name="AddTaxNumber" placeholder="Vergi Numarası Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Vergi Dairesi Adresi</label>
                            <input required type="text" class="form-control" name="AddTaxAddress" placeholder="Vergi Dairesi Adresi Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>İlçe/Kasaba</label>
                            <input required type="text" class="form-control" name="AddTown" placeholder="İlçe/Kasaba Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Çalışma Alanı</label>
                            <select required class="custom-select2 form-control" name="AddBusinessAreaID">
                                <optgroup label="Çalışma Alanı">
                                    @foreach (var item in ViewBag.BusinessAreaID)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Departman</label>
                            <select required class="custom-select2 form-control" name="AddDepartmentID">
                                <optgroup label="Departman">
                                    @foreach (var item in ViewBag.DepartmentID)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </optgroup>
                            </select>
                        </div>

                        <div class="form-group col-md-12">
                            <label>Adres</label>
                            <textarea required class="form-control" rows="4" name="AddAddress" id="comment" placeholder="Adres Giriniz..."></textarea>
                        </div>

                        <div class="form-group col-md-6" onclick="upload_company_photo()">
                            <button type="button" class="file-input btn light btn-primary">Fotoğraf Ekle</button>
                        </div>
                        <div class="form-group col-md-6" onclick="upload_tax_file()">
                            <button type="button" class="file-input btn light btn-primary">Vergi Levhası Ekle</button>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="update-photo">
                                <img hidden style="max-height:200px;max-width:200px" id="img_company_photo" alt="">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="update-photo">
                                <img hidden style="max-height: 200px; max-width: 200px" id="img_tax_file">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeUser" onclick="GetData()" class="btn btn-danger light" data-dismiss="modal">Kapat</button>
                        <button type="submit" id="addBtn" class="btn btn-success light">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>