@model KariyerEntity.Entity.Admin
<div class="modal fade" id="basicModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Genel Ayar Ekle</h5>
                <button type="button" onclick="GetGeneralData()" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body" id="addModal">
                <form id="admin-add-form" action="/genel-ekle">
                    <div class="form-row">
                        <br />
                        <h3 class="close">Dil Tercihi</h3>
                        <br />
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="LangName" placeholder="Dil Tercihi Giriniz...">
                        </div>
                        <br />
                        <h3 class="close">Özel Yetenek</h3>
                        <br />
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="UserSpecialName" placeholder="Özel Yetenek Giriniz...">
                        </div>
                        <br />
                        <h3 class="close">Çalışma Alanı</h3>
                        <br />
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="BusinessAreaName" placeholder="Çalışma Alanı Giriniz...">
                        </div>

                        <div class="modal-footer">
                            <button type="button" onclick="GetGeneralData()" class="btn btn-danger light" data-dismiss="modal">Kapat</button>
                            <button type="button" submit-form="#admin-add-form" class="btn btn-success light">Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

