
@{
    ViewBag.Title = "Meetings";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

@model IEnumerable<KariyerEntity.Entity.User>

@section Scripts{

    <script>
        // Toplanti olanlarin listesi ve gorusmeye gitme butonu olacak
        async function GetData() {
            var searchText = document.getElementById("search").value;
            var url = '' + searchText;
            $('#example').html("");
            var thead =
                '<thead class="thead-primary"><tr>' +
                '<th class="sorting_asc">Resim</th>' +
                '<th class="sorting_asc">Unvan</th>' +
                '<th class="sorting_asc">Ad Soyad</th>' +               
                '<th class="sorting_asc">Görüşmeye Git</th>' +
                '</tr></thead>';
            $('#example').append(thead);
    </script>

}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bekleyen Toplantılar</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group search-area d-xl-inline-flex d-none">
                        <input id="search" type="text" class="form-control" placeholder="Arama...">
                        <div class="input-group-append">
                            <button id="search" onclick="GetData()" class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 55vh; width: 100%;">
                <table id="example" class="display dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
                </table>
            </div>
        </div>
    </div>
</div>



