@model KariyerEntity.Entity.CompanyUser
<div class="modal fade" id="basicModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Şirket Personeli Ekle</h5>
                <button type="button" onclick="GetData()" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body" id="addModal">
                <form id="companyuser-add-form" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>İsim</label>
                            <input type="text" required class="form-control" name="AddName" placeholder="İsim Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Soyisim</label>
                            <input type="text" required class="form-control" name="AddSurname" placeholder="Soyisim Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Ünvan</label>
                            <input type="text" required class="form-control" name="AddTitle" placeholder="Ünvan Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Telefon</label>
                            <input type="tel" required class="form-control" name="AddPhone" placeholder="Telefon Giriniz...">
                        </div>
                        <div class="form-group col-md-12">
                            <label>E-Mail</label>
                            <input type="email" required class="form-control" name="AddEMail" placeholder="E-Mail Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Şifre</label>
                            <input required type="password" class="form-control" name="AddPassword" placeholder="Şifre Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Şirket</label>
                            <select required class="custom-select2 form-control" name="AddCompanyID">
                                <optgroup label="Şirket">
                                    @foreach (var item in ViewBag.CompanyID)
                                    {<option value="@item.ID">@item.Name</option>}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="CloseCompanyUser" onclick="GetData()" class="btn btn-danger light" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-success light">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

