
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<KariyerEntity.Entity.Company>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Diğer Firmalar</h3>
        </div>
        <div class="card-body">
            <div class="row">
                @foreach (var firma in Model) // login olan sirketin gelmemesi icin sorgu?
                {
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">@firma.Name</h2>
                        </div>
                        <div class="card-body">
                            <div class="card-img">
                                <img src="" alt="@firma.Name" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

